#quiz_list{
 background-color:red;
}


#question_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
}


#question_answer{
    margin-top:200px;
    background-color: white;
    width: 800px;
    height:400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}


#correct_answers{
    background-color: darkblue;
    width:100px;
    height:100px;
}


#left_bar{
     width: 250px;
     background-color: white;
     height: 100vh;
     position: absolute;
     justify-content: center;
     align-items: center;
     display: flex;
     flex-direction: column;
}


#right_bar{
    width: 250px;
    background-color: white;
    height: 100vh;
    position: absolute;
    right:0;
}


#next_button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:50px;
    background-color:  #455CAA;;
    z-index: 9999;
    
}

#scores{
    width:100px;
    height:100px;
    border-radius: 100px;
    border-width: 3px;
    border-color: #455CAA;
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin:20px;
    border:20px solid #455CAA;
}

#submit_buttom{
    padding-top:10px;
    padding-bottom:10px;
    padding-left:50px;
    padding-right:50px;
    background-color:#455CAA;
    color:white;
    border-radius: 100px;

}

#input{
    width:600px;
    height: 25px;
    padding:10px;
    border-radius: 15px;
    border-width: 0px;
    background-color:#E6E7E8;
    margin:30px;
}

#question_text{
    font-family: 'circular';
    text-align: center;
}

#main_container{
    background-color: #EFF0F2;
    height: 100vh;
}