@font-face {
    font-family: 'circular';
    src:   url(../Assets/CircularBold.otf)  ;
  }

  @font-face {
    font-family: 'circularBook';
    src:  url(../Assets/CircularBook.otf)  ;
  }

#container {
    backgroundColor: red;
    width: 100px;
}

#mathButtons {
    background-color: white;
    width: 100px;
    height: 100px;
    margin: 10px;
    border-width: 0; 
    font-family: 'circular';
     color: #8A64AB;
    font-size: 20px;
    box-shadow: 0px 14px 24px -11px rgba(0,0,0,0.13);

}

#mathButtons:hover {
   
    transition: 0.3s;
    box-shadow: 0px 14px 24px -11px rgba(0,0,0,0.5);

}


#addVariable {
    text-align: center;
    margin-bottom: 15px;
    padding: 10px;
    width: 150px;
    border-color: #8A64AB;
    font-size: 20px;
    font-family: 'circular';
    background-color: rgba(0,0,0,0);
    color: #8A64AB;
    border-width: 2px;
    border-radius: 15px;
}

#textBox {
    border-width: 0px;
   
   flex:1;
    background-color: blue;
    height: 30px;
    padding: 10px;
    border-radius: 15px;
    display: inline-block;
}

#variables {
    border-radius: 100px;
    border-width: 0;
    margin: 10px;
    background-color: #8A64AB;
    text-align: center;
    width: 40px;
    height: 40px;
    color:white
}

#output{
    margin-bottom:10px;
    width: 650px; 
    border-radius: 10px; 
    height: 40px;
    background-color: white;
}

#outputVariables {
    border-radius: 10px;
    border-width: 0;
    margin: 10px;
    background-color:#8A64AB;
    text-align: center;
    width: 50px;
    height: 50px;
}

#addOutput{
    left:1000px;
    position:absolute; 
    background-color:  #8A64AB;
    color: white;
    padding: 15px;
    border-radius: 15px;
    margin-left: 10px;
    font-family: 'circular';

}


#canvas{
      width: 600px; 
      height: 300px; 
      background-color: white;  
      padding: 20px;
      box-shadow: 0px 14px 24px -11px rgba(0,0,0,0.18);
}

#outputCanvas{
    width: 600px; 
    height: 7px; 
    background-color: white;  
    padding: 20px;
    border-width: 0;
    border-radius: 10px;
    box-shadow: 0px 14px 24px -11px rgba(0,0,0,0.28);
}

#mainContainer{
    margin: auto;
    width: 55%;
    padding-top:150px;
}

#QuizMakerTitle{
    font-size: 50px;
    font-family: 'circular';
     color: #8A64AB;
      margin-bottom:20px
}

#outputTitle{ 
    font-size: 20px;
    color: #8A64AB;
   
    margin-bottom: 10px;
    font-family: 'circular';

}


#mathTitle{
    margin-top:15px;
    font-size: 30px;
    color: #8A64AB;
    font-family: 'circular';
    }