#CourseButtons {
    background-color: white;
   margin:5px;
   text-align: left;
    width:800px;
    height: 50px;
    padding:10px;
    display: flex;
   align-items:center;
    border-radius: 10px;
    border-width: 0; 
    margin-left:-200px;
    font-family: 'circular';
    align-self: center;
     color: rgb(56, 40, 204);
    font-size: 20px; 
    
}

#CourseButtons:hover{
    padding:30px;
    
    transition: 0.3s;
}

#CoursesContainer{
    height:100vh;
    width:100vw;
    background-color: #EDEEF2;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-self: center;
    margin-left:200px;

}


#description{
    width: 800px;
    margin-left:300px;
    font-size: 15px;
    margin-bottom:20px;
}
 #title_font{
   
    font-family: 'circular';
    color: rgb(56, 40, 204);
   font-size: 45px;
   margin-left:300px;
   margin-top:80px;
  
   
 }


 #CoursesContainerInternal{
    display: flex;
    justify-content: center;
    flex-direction: column;
 }