@font-face {
    font-family: 'circular';
    src:   url(../Assets/CircularBold.otf)  ;
  }

  @font-face {
    font-family: 'circularBook';
    src:  url(../Assets/CircularBook.otf)  ;
  }

#modal {
    
      
    
}


#output_container{
    background-color: bisque;
    height:40px;
    display:flex;
    padding:5px;
    width:600px;
    align-items: center;
    
}

#output_functions_button{
padding:20px;
margin:10px;
background: #00A79D;
}

#output_functions{
display:flex;
flex-direction: row;
}

.test{
 
    width: 450px;
    height:45px;
    border-width:0;
    border-radius:15px;
    background: silver;
}


.dd-list{
z-index: 10px;
position: absolute;
width: 100%;
border: 1px solid rgb(223, 223, 223);
border-top: none;
 
}
#container {
    
    backgroundColor: red;
    width: 100px;
}

#mathButtons {
    background-color: white;
    width: 100px;
    height: 100px;
    margin: 10px;
    border-width: 0; 
    font-family: 'circular';
     color: #8A64AB;
    font-size: 20px;
    box-shadow: 0px 14px 24px -11px rgba(0,0,0,0.13);

}

#mathButtons:hover {
   
    transition: 0.3s;
    box-shadow: 0px 14px 24px -11px rgba(0,0,0,0.5);

}


#addVariable {
    text-align: center;
    margin-bottom: 15px;
    padding: 10px;
    width: 150px;
    border-color: #8A64AB;
    font-size: 20px;
    font-family: 'circular';
    background-color: rgba(0,0,0,0);
    color: #8A64AB;
    border-width: 2px;
    border-radius: 15px;
}

#textBox {
    border-width: 0px;
   
   flex:1;
    background-color: blue;
    height: 30px;
    padding: 10px;
    border-radius: 15px;
    display: inline-block;
}

#variables {
    border-radius: 100px;
    border-width: 0;
    margin-left: 20px;
    background-color: #8A64AB;
    text-align: center;
    width: 40px;
    height: 40px;
    color:white
}

#output{
    margin-bottom:10px;
    width: 650px; 
    border-radius: 10px; 
    height: 40px;
    background-color: white;
}

#outputVariables {
    border-radius: 10px;
    border-width: 0;
    margin: 10px;
    background-color:#8A64AB;
    text-align: center;
    width: 50px;
    height: 50px;
    color:white;
    font-family: 'circular';
    font-size: 15px;
}

#outputVariables:hover {
    background-color:rgb(100, 37, 155);
    transition: 0.3s;
    box-shadow: 0px 14px 24px -11px rgba(0,0,0,0.5);
}

#addOutput{
    left:1000px;
    position:absolute; 
    background-color:  #8A64AB;
    color: white;
    padding: 15px;
    border-radius: 15px;
    margin-left: 10px;
    font-family: 'circular';

}


#canvas{
      width: 600px; 
      height: 300px; 
      background-color: white;  
      padding: 20px;
      box-shadow: 0px 14px 24px -11px rgba(0,0,0,0.18);
}

#mainContainer{
    margin: auto;
    width: 55%;
  
}

#QuizMakerTitle{
    font-size: 50px;
    font-family: 'circular';
     color: #8A64AB;
      margin-bottom:20px
}

#outputTitle{ 
    margin-top: 20px;
    font-size: 20px;
    color: #8A64AB;
   
    margin-bottom: 10px;
    font-family: 'circular';

}


#mathTitle{
    margin-top:15px;
    font-size: 30px;
    color: #8A64AB;
    font-family: 'circular';
    }


    #outputVariable{
        width:50px;
        height:50px;
        background-color: #8A64AB;
        color:white;
        border-radius: 5px;
        text-align: center;
    }

    
#outputCanvas{
    width: 600px; 
    padding: 1px; 
    
    display: flex;
    background-color: white;  
    border-width: 0;
    border-radius: 10px;
    box-shadow: 0px 14px 24px -11px rgba(0,0,0,0.28);
}

#outputItems{
    width:35px;
    height:35px;
    border-radius: 5px;
    margin:10px; 
    margin-right:0px;
    display:flex;
    background-color:#8A64AB;
    font-family: 'circular';
    text-align: center;
    align-self: center;
    color: white;
}

#outputItemText{
    align-self: center;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
}

#bleh{
    font-family: 'circular';
    color:rgb(114, 114, 114);
    margin-left:20px;
}


#templateMaker{
    background-color: white;
    width:500px;
    height:350px;
    margin-left:200px;
    margin:20px;
    box-shadow: 0px 14px 24px -11px rgba(0,0,0,0.13);

}

#courseSelector{
    width:350px;
    height:200px;
    margin:20px;
    background : linear-gradient(-25.34deg, rgba(33, 64, 154, 1) 0%, rgba(94, 109, 180, 1) 99.68%);
        box-shadow: 0px 14px 24px -11px rgba(0,0,0,0.13);

}

#courseSelectorInternalContainer{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    text-align: left;
    margin-left: 20px;
    margin-top:20px;
}

#quizMakerContainer{
    margin-left: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top:20vh;
   
}

#templateMakerHeader{
display: flex;
flex-direction: row;
justify-content: space-between;
margin:20px;
}

#templateMakerTitle{
font-family: 'circular';
font-size: 30px;
}

#quizTypes{
    height:20px;
    background-color: blue;
    padding:15px;
    width:90%;
    margin-left: auto;
    margin-right: auto;
color:white;
font-family: 'circular';
font-size: 15px;
    border-radius: 10px;
    
}



#rightContainer{
    display: flex;
    flex-direction: column;
}

#createTemplateButton{
    width:350px;
    margin-left: 20px;
    height: 60px;
    background : linear-gradient(90deg, rgba(33, 64, 154, 1) 0%, rgba(94, 109, 180, 1) 99.68%);
    font-family: 'circular';
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

#publishButton{
    width:350px;
    margin-left: 20px;
    height: 60px;
    margin-top:10px;
    background : #00A79D;
    font-family: 'circular';
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

#templateList{
display: flex;
flex-direction: column;
background : linear-gradient(153.21deg, rgba(33, 64, 154, 1) 0%, rgba(94, 109, 180, 1) 99.68%);
font-family: 'circular';
font-size:15px;
color:white;
align-items: center;
height:55px;
width: 450px; 
margin:5px;
border-radius: 10px;

}


#templateMakerInnerContainer{
display: flex;
flex-direction: column;
align-items: flex-start
}

#selectedCourse{
    background-color: rgba(204, 204, 204, 0.473);
    border-radius: 10px;
    font-family: 'circular';
    font-size: 15px;
    height:50px;
width:300px;
margin-top:30px;
text-align: left;
color:white;
display: flex;
align-items: center;
justify-content: center;
}

#template_popup_container{
    box-shadow: 0px 14px 24px -11px rgba(0,0,0,0.13);
    position: relative;
}

#template_popup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin:30px;
    width:400px;
    font-family: 'circular';
  
}

#select_template_toggle{
    background : rgba(230, 231, 232, 1);
    border-radius : 12px;
    width: 400px;
    height: 50px;
}

#outputContainer{
    display: flex;
    background-color:white;
    margin:10px;
    align-items: center;
    width:250px;
    
    border-radius: 10px;
}

#outputRanges{
    background-color: rgba(0, 0, 0, 0.068);
    width:60px;
    height: 40px;
    margin-left: 10px;
    border-radius: 10px;
    border-width: 0px;
}

#enter_quiz_title_text{
font-size: 20px;
font-family:'circular';
color: rgba(33, 64, 154, 1)
}

#quiz_title_text{
    margin-bottom:10px;
    margin-right:20px;
    padding:10px;
    border-radius: 10px;
    border-width: 0px;
}

#save_template{
    position: absolute;
    top:20px;
    right:50px;
    padding:25px;
    background-color:#00A79D;
    font-size: 20px;
    font-family:'circular';
    color:white;
    border-radius:10px;
  
}

#save_template:hover{
    transition: 1s;
    background-color:rgb(11, 211, 198);
    padding:40px;
}