#container{
    display: flex;
    flex-direction: column;
}

 
 #mainContainerSidebar{
     position:absolute;
     height:100vh;
     width:200px;
     background-color: maroon;
     font-size: 15px;
     display: flex;
     justify-content: center;
     flex-direction: column;
    }

  

#menuButtons{
    margin:10px;
    font-family: "circular";
    color: black;
    text-decoration: none;
}